<ion-content [fullscreen]="true" style="--background: #a1dad8">

    <app-logo class="contenedor-logo"></app-logo>
    <h1 class="Titulo_Bienvenida">¡Bienvenido!</h1>
    <p class="Subtitulo_Informativo">Para ofrecer una mejor experiencia</p>
    <p class="Subtitulo_Informativo_2">¿Es usted Adulto Mayor o Cuidador?</p>

    <div class="options">
      <a href="/auth" class="option">
        <img src="assets/icon/adulto-mayor.png" alt="Adulto Mayor"/>
        <span>Adulto Mayor</span>
      </a>
      <a href="/auth-cuidador" class="option">
        <img src="assets/icon/cuidador.png" alt="Cuidador"/>
        <span>Cuidador</span>
      </a>
    </div>

</ion-content>
