<ion-content [fullscreen]="true" style="--background: #a1dad8">

  <app-logo class="contenedor-logo"></app-logo>
  <h1>Todo Simple</h1>
  <h2>Bienvenido</h2>

  <div class="contenedor-boton">
    
    <ion-button class="boton-gris" href="/profile-cuidador">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label class="texto-boton">Mi Perfil</ion-label>
    </ion-button>

    <ion-button class="boton-gris">
      <ion-label class="texto-boton">Crear Cuenta para Adulto Mayor</ion-label>
    </ion-button>

    <ion-button class="boton-gris">
      <ion-label class="texto-boton">Gestionar Cuentas Creadas</ion-label>
    </ion-button>

    <ion-button class="boton-rojo">
      <ion-label class="texto-boton">Desvincular Cuenta</ion-label>
    </ion-button>
  </div>

</ion-content>