<ion-content [fullscreen]="true" style="--background: #a1dad8">
  <div class="Mensaje_Horario">Horario Actual</div>
  <div class="contenedor_hora">
    <h1 id="time" class="hora-real">00:00</h1>
    <p id="date" class="dia-semana"> Dia de la Semana, Chile </p>
  </div>

  <div class="Contenedor_Noticias">
    <ion-button class="boton-noticias" href="/noticias">NOTICIAS </ion-button>
  </div>

  <div class="Contenedor_Botones">
    <ion-button class="botones-inferiores" (click)="abrirWhatsApp()">
      <ion-icon class="icono-grande" name="logo-whatsapp"></ion-icon>
    </ion-button>
    <ion-button class="botones-inferiores" (click)="hacerLlamada()">
      <ion-icon class="icono-grande" name="call-outline"></ion-icon>
    </ion-button>
    <ion-button href="/recordatorios" class="botones-inferiores">
      <ion-icon class="icono-grande" name="alarm-outline"></ion-icon>
    </ion-button>
  </div>

<!--  Botón cerrar sesión-->
<ion-button (click)="signOut()" expand="block" shape="round">
  Cerrar Sesión
</ion-button>

  
</ion-content>


  

