$fuente-noticias: 'Inria Serif', serif;

.home-content {
  --background: linear-gradient(145deg, #72c6b1 0%, #a1dad8 100%);
}

.Mensaje_Horario {
  font-size: 10vw;
  margin-top: 8%;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.hora-real {
  font-size: 25vw;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: -5%;
}

.dia-semana {
  font-size: 6vw;
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin-top: -5%;
}

.contenedor_hora {
  margin-top: 0;
  text-align: center;
  color: #fff;
}

.Contenedor_Noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.boton-noticias {
  --border-radius: 25px;
  width: 90%;
  max-width: 450px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 14vw;
  font-weight: bold;
  --background: #fff;
  --color: #1a3e7f;
  font-family: $fuente-noticias;
}

.Contenedor_Botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8%;
}

.botones-inferiores {
  --background: #ffffff; 
  --color: #1a3e7f;
  --border-radius: 50%;
  width: 30vw;  /* Tamaño del botón más grande */
  height: 30vw; /* Tamaño del botón más grande */
  max-width: 160px; /* Aumentar el tamaño máximo */
  max-height: 160px; /* Aumentar el tamaño máximo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-grande {
  font-size: 16vw;  /* Aumentar el tamaño del ícono */
  max-width: 80px;  /* Aumentar el tamaño máximo del ícono */
  max-height: 80px; /* Aumentar el tamaño máximo del ícono */
}

.cerrar-sesion {
  margin-top: 12%;
  --background: #e84a4a;
  --color: white;
  font-size: 5vw;
  padding: 10px 20px;
  border-radius: 50px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* Media Queries */
@media (min-width: 768px) {
  .Mensaje_Horario {
    font-size: 4rem;
  }

  .hora-real {
    font-size: 9rem;
  }

  .dia-semana {
    font-size: 2.5rem;
  }

  .boton-noticias {
    font-size: 1.8rem;
  }

  .botones-inferiores {
    width: 140px;
    height: 140px; /* Botones más grandes para pantallas grandes */
  }

  .icono-grande {
    font-size: 4rem;
    width: 65px;
    height: 65px; /* Íconos más grandes para pantallas grandes */
  }

  .cerrar-sesion {
    font-size: 1.2rem;
    padding: 10px 30px;
  }
}
