.Titulo {
  text-align: center;
  font-size: 40px;
}

.SubTitulo {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.Foto_Perfil {
  height: 300px;
  width: 300px;
  background-color: rgb(94, 126, 168);
  border-radius: 50%;
  border: 10px solid rgb(43, 30, 160);
  //Centrar
  display: grid;
  place-items: center;
  margin: auto;
}

.Mensaje_Personalizado {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.Botones {
  height: 100px;
  width: 100px;
  background-color: rgb(94, 126, 168);
  border-radius: 50%;
  border: 5px solid rgb(43, 30, 160);
  //Centrar
  display: flex;
  place-items: center;
  margin: 10px;
}

.Contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
