<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Titulo"> Simplicity Phone! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Foto_Perfil"></div>
  <div class="Mensaje_Personalizado">Son las 14:00Hrs</div>

  <div class="Contenedor">
    <ion-button class="boton-noticias" href="/noticias"
      >Noticias
      <ion-icon class="icono-grande" name="newspaper-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="Contenedor">
    <ion-button class="botones-inferiores">
      <ion-icon class="icono-grande" name="logo-whatsapp"></ion-icon>
    </ion-button>
    <ion-button class="botones-inferiores">
      <ion-icon class="icono-grande" name="call-outline"></ion-icon>
    </ion-button>
    <ion-button class="botones-inferiores">
      <ion-icon class="icono-grande" name="alarm-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
