.Titulo {
  text-align: center;
  font-size: 40px;
}

.SubTitulo {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.Foto_Perfil {
  height: 300px;
  width: 300px;
  background-color: rgb(94, 126, 168);
  border-radius: 50%;
  border: 10px solid rgb(43, 30, 160);
  //Centrar
  display: grid;
  place-items: center;
  margin: auto;
  margin-top: 10%;
}

.Mensaje_Personalizado {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.Botones {
  height: 100px;
  width: 100px;
  background-color: rgb(94, 126, 168);
  border-radius: 50%;
  border: 5px solid rgb(43, 30, 160);
  //Centrar
  display: flex;
  place-items: center;
  margin: 10px;
}

.Contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.boton-noticias{
  --border-radius: 10%; /* Hace el botón circular */
  width: 400px;         
  height: 100x;        
  display: flex;        
  justify-content: center;
  align-items: center;
  font-size: 16px;      
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}


.botones-inferiores{
  --border-radius: 50%; /* Hace el botón circular */
  width: 100px;         
  height: 100px;        
  display: flex;        /* Centra el texto dentro del botón */
  justify-content: center;
  align-items: center;
  font-size: 16px;      /* Tamaño del texto */
  padding: 0;           /* Elimina el padding para evitar distorsiones */
}

.icono-grande {
  font-size: 50px; /* Ajusta el tamaño del icono */
  width: 50px;
  height: 50px;
}


