<ion-content [fullscreen]="true" style="--background: #A1DAD8;">
  <div class="Mensaje_Horario">Horario Actual</div>
  <div class="Hora_Personalizada">14:00</div>
  <div class="Mensaje_Personalizado">Viernes, Viña del Mar</div>

  <div class="Contenedor_Noticias">
    <ion-button class="boton-noticias" href="/noticias">Noticias </ion-button>
  </div>

  <div class="Contenedor_Botones">
    <ion-button class="botones-inferiores">
      <ion-icon class="icono-grande" name="logo-whatsapp"></ion-icon>
    </ion-button>
    <ion-button class="botones-inferiores">
      <ion-icon class="icono-grande" name="call-outline"></ion-icon>
    </ion-button>
    <ion-button class="botones-inferiores">
      <ion-icon class="icono-grande" name="alarm-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
