<ion-content [fullscreen]="true" style="--background: #a1dad8">
  <!-- Logo de la Aplicación -->
  <div class="contenedor-logo">
    <img src="https://i.imgur.com/kfwJlJb.png" alt="Logo" class="logo" />
  </div>

  <!-- Título y Subtítulo -->
  <div>
    <h1 class="Titulo_Bienvenida">¡Bienvenido!</h1>
    <p class="Subtitulo_Informativo">Ingrese sus datos para acceder</p>
  </div>

  <!-- Formulario -->
  <div class="campos-rellenar">
    <!-- Email -->
    <div class="campo">
      <label for="email" class="textos_campos_rellenables">Email</label>
      <input
        id="email"
        placeholder="nombre@example.com"
        required
        type="email"
        class="campos_rellenables"
      />
    </div>

    <!-- Contraseña -->
    <div class="campo">
      <label for="password" class="textos_campos_rellenables">Contraseña</label>
      <input
        id="password"
        required
        type="password"
        class="campos_rellenables"
      />
    </div>

    <!-- Botón de inicio de sesión -->
    <div class="boton-contenedor">
      <button class="boton" href="/home">Iniciar Sesión</button>
    </div>
    <div>
      <p class="usuario-sin-cuenta">
        ¿No tienes una cuenta?
        <a class="usuario-sin-cuenta" href="/register">Regístrate Aquí</a>
      </p>
    </div>
  </div>
</ion-content>
