<form class="formulario">
  <!-- Logo de la Aplicación -->
  <div class="contenedor-logo">
    <img
      src="https://media.discordapp.net/attachments/1133974128169320500/1281094200468836403/Logo-1.png?ex=66e06632&is=66df14b2&hm=1ab160b85d2908569891e7ad6b9e1925388eba0eebe28c658098fb5245317986&=&format=webp&quality=lossless&width=350&height=350"
      alt="Logo"
      class="logo"
    />
  </div>

  <!-- Título y Subtítulo -->
  <div class="titulos">
    <h2>¡Bienvenido de vuelta!</h2>
    <p>Ingrese su email y su contraseña para acceder a su cuenta.</p>
  </div>

  <!-- Formulario -->
  <div class="campos-rellenar">
    <!-- Email -->
    <div class="campo">
      <label for="email" class="textos_campos_rellenables">Email</label>
      <input
        id="email"
        placeholder="nombre@example.com"
        required
        type="email"
        class="campos_rellenables"
      />
    </div>

    <!-- Contraseña -->
    <div class="campo">
      <label for="password" class="textos_campos_rellenables">Contraseña</label>
      <input
        id="password"
        required
        type="password"
        class="campos_rellenables"
      />
    </div>

    <!-- Botón de inicio de sesión -->
    <div class="boton-contenedor">
      <button class="boton">Iniciar Sesión</button>
    </div>
    <div>
      <p class="usuario-sin-cuenta">
        ¿No tienes una cuenta?
        <a class="usuario-sin-cuenta" href="/register">Regístrate Aquí</a>
      </p>
    </div>
  </div>
</form>
