$fuente-inter: 'Inter', sans-serif;

.contenedor-logo {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.Titulo_Bienvenida {
  margin-top: 0%; /* Ajuste de margen superior */
  text-align: center;
  font-size: 15vw; /* Tamaño de fuente responsivo */
  font-family: $fuente-inter;
  font-weight: lighter;
  color: black;
}

ion-back-button {
  --padding-start: 20px;
  --icon-font-size: 24px;
  --icon-font-weight: bold;
  font-size: 16px;
  font-weight: 500;
}

ion-toolbar {
  --min-height: 60px;
}

.Subtitulo_Informativo {
  margin-top: -5%; /* Ajuste de margen superior */
  text-align: center;
  font-size: 5vw; /* Tamaño de fuente responsivo */
  font-family: $fuente-inter;
  font-weight: normal;
  color: black;
}

.textos_campos_rellenables {
  display: block;
  font-size: 8vw; /* Tamaño de fuente responsivo */
  margin-bottom: -25px;
  margin-top: -10px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.olvidar-contrasena {
  text-align: center;
  font-size: 2.5vw; /* Tamaño de fuente responsivo */
  font-weight: bold;
  margin-top: -18px;
  margin-bottom: 0px;
}

.requerimientos {
  text-align: center;
  font-weight: lighter;
  font-size: 3.5vw; /* Unidades relativas para tamaño de fuente */
  color: rgb(112, 15, 15);
  margin: 5px 0; /* Reducir márgenes para más espacio */
  padding: 0 10px; /* Añadir padding lateral si es necesario */
}

.boton {
  background-color: #36AD8B;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 90%;
  min-height: unset;
  outline: none;
}

ion-button {
  --background: #36AD8B; /* Color de fondo */
  --color: white; /* Color del texto */
  --background-hover: #2E8B57; /* Color del fondo en hover */
  --background-activated: #2E8B57; /* Color del fondo al estar presionado */
  --background-focused: #2E8B57; /* Color al estar enfocado */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vw; /* Ajuste de padding para pantallas pequeñas */
}

.campos_rellenables {
  width: 90%; /* Hacer los campos más grandes en pantallas más grandes */
  padding: 15px; /* Ajustar el padding */
  border-radius: 50px;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px auto; /* Ajustar margen superior para mejor espaciado */
  height: auto; /* Permite que el padding determine la altura */
  color: black;
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  .requerimientos {
    font-size: 1.2rem; /* Aumentar el tamaño en pantallas más grandes */
  }

  .Titulo_Bienvenida {
    font-size: 4rem; /* Ajuste de tamaño de fuente en pantallas más grandes */
  }

  .Subtitulo_Informativo {
    font-size: 2rem; /* Ajuste de tamaño de fuente */
  }

  .textos_campos_rellenables {
    font-size: 2rem;
  }

  .olvidar-contrasena {
    font-size: 1rem;
  }
}
