<ion-content [fullscreen]="true" style="--background: #A1DAD8;">
  
  <!-- ############### TITULO NOTICIAS ################ -->
  <div class="Contenedor_Noticias">
    <ion-button class="boton-noticias">NOTICIAS </ion-button>
  </div>

   <!-- ############### TIPO DE NOTICIA ################ -->
  <div class="Contenedor_Tipo_Noticias">
    <ion-button class="boton-tipo-noticia" href="/noticias">Tipo de noticia </ion-button>
  </div>
  
  <!-- ############### NOTICIAS ################ -->
  <div class="Contenedor_Noticias">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Noticia 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Contenido de la Noticia 1
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Noticia 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Contenido de la Noticia 2
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Noticia 3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Contenido de la Noticia 3
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
