<ion-content [fullscreen]="true" style="--background: #a1dad8">
  <div class="d-flex-center">
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <!--====================== Logo ======================-->
      <app-logo class="contenedor-logo"></app-logo>
      <h1 class="Titulo_Bienvenida">¡Bienvenido!</h1>
      <p class="Subtitulo_Informativo">Ingrese sus datos para acceder</p>
      <!--====================== Correo ======================-->
      <label class="textos_campos_rellenables">Email</label>
      <app-custom-input
        [control]="form.controls.email"
        type="email"
        class="campos_rellenables"
      ></app-custom-input>
      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div class="requerimientos" *ngIf="form.controls.email.errors?.['required']">
          El correo es requerido
        </div>
        <div class="requerimientos" *ngIf="form.controls.email.errors?.['email']">
          Ingrese un correo valido
        </div>
      </div>

      <!--====================== Contraseña ======================-->
      <label class="textos_campos_rellenables">Contraseña</label>
      <app-custom-input
        [control]="form.controls.password"
        type="password"
        class="campos_rellenables"
      ></app-custom-input>
      <div
        class="validators"
        *ngIf="form.controls.password.errors && form.controls.password.touched"
      >
        <div class="requerimientos" *ngIf="form.controls.password.errors?.['required']">
          La contraseña es requerida
        </div>
      </div>
      <p routerLink="forgot-password" class="olvidar-contrasena">¿Olvidaste tu contraseña?</p>

      <ion-button
        expand="block"
        mode="ios"
        class="boton"
        type="submit"
        >Iniciar Sesión
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button
        expand="block"
        mode="ios"
        class="boton"
        type="submit"
        routerLink="sign-up"
        >Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
