$fuente-inter: 'Inter', sans-serif;
.contenedor-logo {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.Titulo_Bienvenida {
  margin-top: -10%;
  text-align: center;
  font-size: 400%;
  font-family: $fuente-inter;
  font-weight: lighter;
  color: black
}

.Subtitulo_Informativo {
  margin-top:-2%;
  text-align: center;
  font-size: 200%;
  font-family: $fuente-inter;
  font-weight: normal;
  color: black
}

.textos_campos_rellenables {
  display: block;
  font-size: 200%;
  margin-bottom: -15px;
  margin-top: -15px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.olvidar-contrasena{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: -18px;
  margin-bottom: 0px;
}

.requerimientos{
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  color:rgb(112, 15, 15);
}

.boton {
  padding: 0px 20px;
  background-color: #36AD8B;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 90%;
  min-height: unset;
  outline: none;
}

ion-button {
  --background: #36AD8B; /* Color de fondo */
  --color: white; /* Color del texto */
  --background-hover: #2E8B57; /* Color del fondo en hover */
  --background-activated: #2E8B57; /* Color del fondo al estar presionado */
  --background-focused: #2E8B57; /* Color al estar enfocado */
}




form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campos_rellenables {
  width: 80%;
  padding: 20px; /* Incrementa el padding para aumentar el tamaño */
  border-radius: 50px;
  font-size: 300px;
  text-align: center;
  margin: 0 auto;
  height: auto; /* Permite que el padding determine la altura */
  color: black;
}