/* Estilo para la sección de "Nuevo Recordatorio" */
.Titulo-Principal {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.Titulo-Form{
  font-size: 20px;
  text-align: center;
}

/* Estilo para los items del formulario */
.form-item {
  //margin-bottom: 5px;
  --inner-border-width: 1px;
  --border-color: #ffffff;
}

/* Personalización de los checkboxes de los días */
.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* Espaciado entre los checkboxes */
  justify-content: space-between;
  ion-item {
    --background: transparent;
    --inner-border-width: 0;
    display: flex;
    align-items: center;
    width: 45%;
    padding: 0;
  }
  ion-label {
    margin-left: 8px;
    font-size: 14px;
    color: #555;
  }
}

/* Estilo para el botón de guardar */
.save-button {
  background-color: #18A854;
  color: white;
  font-size: 6vw;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s;
  width: 80%;
  height: 50px;
  max-width: 300px;
  min-height: 40px;
  margin: 0 auto;
  padding: 10px 0;
}

ion-button {
  --background: #18A854;
  --color: white;
  --background-hover: #2E8B57;
  --background-activated: #2E8B57;
  --background-focused: #2E8B57;
}


/* Responsividad: Asegura que el formulario se vea bien en dispositivos móviles y tabletas */
@media (max-width: 768px) {
  .checkbox-list ion-item {
    width: 48%;
  }

  .Titulo-Principal {
    font-size: 2.3rem;
  }

  .save-button {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .checkbox-list ion-item {
    width: 100%;
  }

  .Titulo-Principal {
    font-size: 2.2rem;
  }
}
