<ion-buttons slot="start">
  <ion-back-button text="Retroceso" defaultHref="/"></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true" style="--background: #a1dad8">
  <h1 class="Titulo-Principal">Nuevo Recordatorio</h1>
  <form [formGroup]="reminderForm" (ngSubmit)="addReminder()">
    <!-- Nombre del Recordatorio -->
    <ion-item class="form-item">
      <ion-label position="stacked" class="Titulo-Form">Nombre del Recordatorio</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Ejemplo: Paracetamol"></ion-input>
    </ion-item>

    <!-- Selector de Hora -->
    <ion-item class="form-item">
      <ion-label position="stacked" class="Titulo-Form">Seleccione una Hora</ion-label>
      <ion-datetime formControlName="time" presentation="time" display-format="HH:mm"></ion-datetime>
    </ion-item>

    <!-- Checkboxes Días de la Semana -->
    <ion-item class="form-item">
      <ion-label position="stacked" class="Titulo-Form">Seleccione los Días</ion-label>
      <ion-list class="checkbox-list">
        <ion-item *ngFor="let day of days">
          <ion-checkbox slot="start" [value]="day" (ionChange)="toggleDay(day)"></ion-checkbox>
          <ion-label>{{ day }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>

    <!-- Botón de Guardar -->
    <ion-button expand="block" type="submit" class="save-button">Guardar Recordatorio</ion-button>
  </form>
</ion-content>
