$fuente-inter: 'Inter', sans-serif;

form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.textos_campos_rellenables {
    display: block;
    font-size: 200%;
    margin-bottom: -15px;
    margin-top: -5px;
    color: black;
    text-align: center;
    font-weight: bold;
  }

  .contenedor-logo {
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }
  
  .Titulo_Bienvenida {
    margin-top: -9%;
    text-align: center;
    font-size: 400%;
    font-family: $fuente-inter;
    font-weight: lighter;
    color: black
  }

  .Subtitulo_Informativo {
    margin-top:-2%;
    text-align: center;
    font-size: 200%;
    font-family: $fuente-inter;
    font-weight: normal;
    color: black;
    margin-bottom: 5px;
  }
  
  .requerimientos{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color:rgb(112, 15, 15);
  }

  .boton {
    padding: 0px 20px;
    background-color: #36AD8B;
    color: white;
    font-size: 175%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 70%;
    font-weight: bold;
    min-height: unset;
    outline: none;
    margin-top: -10px;
  }
  
  ion-button {
    --background: #36AD8B; /* Color de fondo */
    --color: white; /* Color del texto */
    --background-hover: #2E8B57; /* Color del fondo en hover */
    --background-activated: #2E8B57; /* Color del fondo al estar presionado */
    --background-focused: #2E8B57; /* Color al estar enfocado */
  }

  .campos_rellenables {
    width: 100%;
    padding: 20px; 
    border-radius: 50px;
    font-size: 300px;
    text-align: center;
    margin: 0 auto;
    height: auto; 
    color: black;
}

