<ion-buttons slot="start">
  <ion-back-button text="Retroceso" defaultHref="/"></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true" style="--background: #a1dad8">
  <h1 class="Titulo-Principal">Recordatorios</h1>
  
  <!-- Contenedor del usuario -->
  <div class="container">
    <img src="https://imgur.com/Tb3WAPF.png" class="icon-usuario" />
  </div>

  <!-- Botón para agregar nuevo recordatorio -->
  <div class="boton-container">
    <ion-button href="/nuevo-recordatorio" class="boton" expand="block" color="success">
      NUEVO RECORDATORIO
    </ion-button>
  </div>
  
  <!-- Lista de recordatorios en tarjetas -->
  <h1 class="Titulo-Principal">Recordatorios de {{ userName }}</h1>
  <ion-list class="recordatorios">
    <ion-card *ngFor="let reminder of reminders" class="card-recordatorio">
      <div class="recordatorio-header">
        <ion-icon name="medkit-outline"></ion-icon>
        <h3>{{ reminder.name }}</h3>
      </div>
      <p><strong>Días:</strong> {{ reminder.days.join(', ') }}</p>
      <p><strong>Hora:</strong> {{ reminder.time }}</p>
      <button class="foto-remedio">Ver Foto del Medicamento</button>
    </ion-card>
  </ion-list>
  