.container {
  text-align: center;
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-usuario {
  width: 150%;
  height: 150%;
  //max-width: 120px;
  //max-height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -50px;
}

.nombre-usuario {
  margin-top: -40px;
  color: #333;
  font-size: 6vw;
  font-weight: bold;
}

.titulo-recordatorios {
  font-size: 6vw;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.recordatorios {
  padding: 10px;
}

.boton-nuevo {
  background-color: #4caf50;
  color: white;
  margin-bottom: 15px;
  border-radius: 25px;
}

.form-nuevo-recordatorio {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.seleccion-dias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

.card-recordatorio {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recordatorio-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recordatorio-header ion-icon {
  font-size: 24px;
  color: #4caf50;
  margin-right: 10px;
}

.card-recordatorio h3 {
  font-size: 16px;
  margin: 0;
}

.progreso {
  margin-top: 10px;
}

.barra-progreso {
  width: 100%;
  background-color: #e0e0e0;
  height: 8px;
  border-radius: 4px;
  position: relative;
}

.relleno {
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px;
}

.porcentaje {
  font-weight: bold;
  color: #4caf50;
}

.guardar-recordatorio {
  background-color: #f57c00;
  color: white;
  border-radius: 25px;
}
