.container {
  text-align: center;
  background-color: #e1e1e1;
  width: 90%;
  padding: 15px;
  border-radius: 15px;
  margin: 20px auto 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra ligera para darle profundidad
}

.icon-usuario {
  width: 500px;
  //height: 200%;
  border-radius: 50%;
  //margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -50px;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: #18A854;
}

.boton {
  background-color: #18A854;
  color: white;
  font-size: 6vw;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s;
  width: 80%;
  min-height: unset;
}

ion-button {
  --background: #18A854;
  --color: white;
  --background-hover: #2E8B57;
  --background-activated: #2E8B57;
  --background-focused: #2E8B57;
}

.Titulo-Principal{
  font-size: 8.1vw;
  text-align: center;
  font-weight: bold;
  margin-bottom: -10px;
}

.recordatorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card-recordatorio {
  width: 90%;
  background-color: #E6F5F8;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-recordatorio {
  width: 90%; // Ocupa el 90% del ancho disponible
  background-color: #e6f5f8; // Fondo azul claro
  border-radius: 20px; // Bordes redondeados
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra para hacer que se vea elevado
  display: flex;
  flex-direction: column;
}

.foto-remedio {
  background-color: #18a854; // Fondo verde
  color: white;
  font-weight: bold;
  border-radius: 10px; // Bordes redondeados
  padding: 5px 15px;
  border: none;
  margin-top: 10px;
  cursor: pointer; // Muestra el cursor de "mano" al pasar por encima
  transition: background-color 0.3s; // Transición suave al cambiar el color
}

.foto-remedio:hover {
  background-color: #2e8b57; // Color al pasar el mouse sobre el botón
}

.recordatorio-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recordatorio-header ion-icon {
  font-size: 40px;
  color: #4caf50;
  margin-right: 10px;
}

.card-recordatorio h3 {
  font-size: 16px;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.card-recordatorio p {
  font-size: 14px;
  color: #4c7fb5;
  font-size: 20px;
}
