.container {
  text-align: center;
  background-color: #E1E1E1;
  width: 80%;
  min-height: 40%;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-usuario {
  width: 60vw;
  height: 60vw;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-top: -20%;
}

.nombre-usuario {
  margin-top: -10%;
  color: black;
  font-size: 8vw;
  font-weight: bold;
}

.titulo-recordatorios {
  font-size: 8vw;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.recordatorios {
  padding: 20px;
}

.boton-nuevo {
  background-color: #4285f4;
  color: white;
  margin-bottom: 15px;
}

.form-nuevo-recordatorio {
  background-color: #E6F5F8;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.seleccion-dias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

.seleccion-dias label {
  display: flex;
  align-items: center;
}

.recordatorio-item {
  background-color: #E6F5F8;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
