.container {
  text-align: center;
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-usuario {
  width: 150%;
  height: 150%;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -50px;
}

.nombre-usuario {
  margin-top: -40px;
  color: #333;
  font-size: 6vw;
  font-weight: bold;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.boton {
  background-color: #36AD8B;
  color: white;
  font-size: 7vw;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s;
  width: 90%;
  min-height: unset;
}

ion-button {
  --background: #36AD8B;
  --color: white;
  --background-hover: #2E8B57;
  --background-activated: #2E8B57;
  --background-focused: #2E8B57;
}

.Titulo-Principal{
  font-size: 8.1vw;
  text-align: center;
  font-weight: bold;
  margin-bottom: -7%;
}

.recordatorios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card-recordatorio {
  width: 90%;
  background-color: #f1fcff; /* Color verde para los recordatorios */
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.recordatorio-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recordatorio-header ion-icon {
  font-size: 40px;
  color: #4caf50;
  margin-right: 10px;
}

.card-recordatorio h3 {
  font-size: 16px;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.card-recordatorio p {
  font-size: 14px;
  color: #4c7fb5;
  font-size: 20px;
}
